
    <h1>@Model.currCategory</h1>
    <h3>@ViewBag.Category</h3>
    <div class="row mt-5 mb-2">
        @{
            foreach (Car car in Model.allCars)
            {
                @Html.Partial("AllCars",car)

            }
        }
    </div>